.player{
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: top  0.25s linear, left 0.25s linear;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &.blue{
    filter: hue-rotate(100deg);
  }

  &.purple{
    filter: hue-rotate(150deg);
  }

  &.red{
    filter: hue-rotate(250deg);
  }

  &.yellow{
    filter: hue-rotate(300deg);
  }


  &.w{
    background-image: url("/dist/img/player/up.png");
  }
  &.s{
    background-image: url("/dist/img/player/down.png");
  }
  &.a{
    background-image: url("/dist/img/player/left.png");
  }
  &.d{
    background-image: url("/dist/img/player/right.png");
  }
}